.database {
	max-width: 600px;
}

.db_switch {
  position: absolute;
  top: 30px;
  right: 5px;
  width: 32px;
  height: 32px;
  z-index: 10000;
  cursor: pointer;
  background: url("images/edit_grey.png");
  background-size: 32px 32px;
}

.db_doedit {
  background: url("images/edit_green.png");
  background-size: 32px 32px;
}

.db_record {
/*	border: 1px dotted #999;*/
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.db_record table {
	border: none;
    border-spacing: 10px;
    border-collapse: separate;
}

.db_record table tr td {
	vertical-align: top;
}

.db_success {
  background-color: #80f080;
}

.db_fail {
  background-color: #f08080;
}

.db_function {
	font-weight: bold;
	display: inline;
}

.db_data {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.db_thumb {
	width: 100px;
	float: right;
	margin-bottom: 10px;
}

.db_thumb {
	width: 100px;
	float: right;
	margin-bottom: 10px;
}

.db_nummer {
	font-size: 80%;
	font-weight: normal;
	font-style: italic;
}

.db_list {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

.db_small tr td,.db_small tr th {
	font-size: 70%;
	margin: 0;
	padding: 3px;
}

.db_label {
	text-align: left;
	margin-left: 10px;
	font-weight: 500;
	position: absolute;
}

.db_value {
	position: relative;
	left: 180px;
	width: 420px;
}

.db_edit {
	position: relative;
}

.db_legend {
	font-size: 70%;
	text-align: right;
	margin-right: 5px;
}

.db_edit_hover {
	cursor: pointer;
/*	background-color: #e0ffe0;*/
	border-bottom: 2px dashed #80ff80;
}

.db_edit_hover:hover {
	border: 1px dashed #808080;
}

.db_edit_edit {
	border-bottom: 1px dashed #80f080;
}

ul.db_record {
	display: inline-block;
}

.db_list {
	border-spacing: 0;
	border-collapse: collapse;
}

.db_list td,th {
	padding: 0;
	border: 1px solid #999;
}

.db_list th {
	border-bottom: 3px solid #999;
}

/*@media (max-width: 600px) {

	.db_data {
		left: 10px;
		float: none;
		width: 200px;
	}

	.db_label {
		text-align: left;
		font-weight: 500;
		float: left;
	}

	.db_value {
		margin-left: 10px;
	}

}*/

@media (max-width: 600px) {

	.db_thumb {
		width: 80px;
		float: none;
	}

	.db_list {
		position: static;
	}

	.db_label {
		text-align: left;
		margin-left: 5px;
		font-weight: 500;
		position: static;
	}

	.db_value {
		margin-left: 30px;
		position: static;
	}

}