<div class="database">

	[startList]

	<hr>

	<ul class="database_record">

		<li class="db_list">
			<img class="db_thumb" src="userfiles/images/Personen/{foto}" alt = ""></td>
		</li>

		<li class="db_list">
			<div class="db_function">{name} {vorname}</div>
		</li>

		<li class="db_list">
			<div class="db_data">
				[{adresse}<br>]
				[{plz} {ort}<br>]
				[{land}<br>]
				[{tel}<br>]
				[{mobil}<br>]
				[<a href="mailto:{email}">{email}</a>]
			</div>
		</li>

	</ul>
	[endList]
<div style="clear:both"></div>
</div>