<div class="database">

	[startList]

	<hr>

	<ul class="database_record">

		<li class="db_list">
			<img class="db_thumb" src="userfiles/images/Personen/{foto}" alt = "">
		</li>

		<li class="db_list">
			<div class="db_function">{function}[ Region {notnull:leiterregion}]</div>
		</li>

		<li class="db_list">
			<div class="db_data">
				[{actor.titel>edit} {actor.vorname>edit} {actor.name>edit}<br>]
				[{actor.tel>edit}<br>]
				[{actor.mobil>edit}<br>]
				[<a href="mailto:{email}">{actor.email>edit}</a>]
			</div>
		</li>

	</ul>
	[endList]
<div style="clear:both"></div>
</div>