<ul class="database_record">
	<li class="db_list"><h1>{title}</h1></li>

	<li class="db_list">
		<div class="db_label">Termin</div><div class="db_value">{date:start} - {date:end}</div>
	</li>
	<li class="db_list">
		<div class="db_label">Ausrichter</div><div class="db_value">{name}</div>
	</li>
	<li class="db_list">
		<div class="db_label">Region</div><div class="db_value">{region}</div>
	</li>
	<li class="db_list">
		<div class="db_label">Ort</div><div class="db_value">{adresse}</div>
	</li>
	[<li class="db_list">
		<div class="db_label">E-Mail</div><a href="mailto:{email}"><div class="db_value">{email}</div></a>
	</li>]
	[<li class="db_list">
		<div class="db_label">Internet</div><a href="{internet}" target="_blank"><div class="db_value">{internet}</div></a>
	</li>]
	<li class="db_list">
		<div class="db_label">Nennschulss</div><div class="db_value">{date:nennschluss}</div>
	</li>
	<li class="db_list">
		<div class="db_label">Einsendeschluss</div><div class="db_value">{date:einsendeschluss}</div>
	</li>
	<li class="db_list">
		<div class="db_label">Auslosung</div><div class="db_value">{date:auslosung}</div>
	</li>

</ul>