<div>
	<table class="db_list db_small">
		<tr>
			<th>#</th>
			<th>Titel</th>
			<th>Autor</th>
			<th>Jahr</th>
			<th>Laufzeit</th>
			<th>Format</th>
			<th>Filmklub</th>
			<th>Anmerkung</th>
			<th>Standort</th>
		</tr>

	[startList]
		<tr>
			<td>{invnr}</td>
			<td><strong>{titel}</strong></td>
			<td>{impVorname} {impName}</td>
			<td>{year:entstehung}</td>
			<td>[{laufzeit} min]</td>
			<td>{aspect}</td>
			<td>{klub}[ (Region {region})]</td>
			<td>{anmerkung}</td>
			<td>{location}</td>
		</tr>
	[endList]
	</table>
</div>