<div>
	[startList]
	<h1>{titel}</h1>
	<div class="db_label">Autor</div><div class="db_value">{vorname} {name}</div>
	<div class="db_label">Entstehung</div><div class="db_value">{year:entstehung}</div>
	<div class="db_label">Laufzeit</div><div class="db_value">{laufzeit} Minuten</div>
	<div class="db_label">Format</div><div class="db_value">{aspect}</div>
	[<div class="db_label">Filmklub</div><div class="db_value">{klub} (Region {region})</div>]
	<div class="xh_clear"></div>
	[endList]
<div style="clear:both"></div>
</div>