<div class="database">

	[startList]

	<hr>
	
	<ul class="database_record">

		<li class="db_list">
			<img class="db_thumb" src="userfiles/images/Personen/{foto}" alt = "">
		</li>

		<li class="db_list">
			<div class="db_function">{vorname} {name}</div>
		</li>

<!--		[<li class="db_list">
			<div class="db_label">Mitglied bei</div>
			<div class="db_value">{filmklub}, Region {region}</div>
		</li>]-->

		[<li class="db_list">
			<div class="db_label">Telefon</div>
			<div class="db_value">{tel}</div>
		</li>]

		[<li class="db_list">
			<div class="db_label">Mobil</div>
			<div class="db_value">{mobil}</div>
		</li>]

		[<li class="db_list">
			<div class="db_label">Email</div>
			<div class="db_value"><a href="mailto:{email}">{email}</a></div>
		</li>]

	</ul>
	[endList]

</div>