<ul class="database_record">
	<li class="db_list"><h1>{title}</h1></li>
<li class="db_list" style="font-size: 70%; color: #d0d0d0">ID: {id}</li>
	[<li class="db_list">
		<div class="db_label">Termin</div><div class="db_value">{date:start} - {year:end}</div>]
	</li>
	[<li class="db_list">
		<div class="db_label">E-Mail</div><a href="mailto:{email}"><div class="db_value">{email}</div></a>
	</li>]
	[<li class="db_list">
		<div class="db_label">Internet</div><a href="{internet}" target="_blank"><div class="db_value">{internet}</div></a>
	</li>]
	[<li class="db_list">
		<div class="db_label">Nennschluss</div><div class="db_value">{date:nennschluss}</div>
	</li>]
	[<li class="db_list">
		<div class="db_label">Einsendeschluss</div><div class="db_value">{date:einsendeschluss}</div>
	</li>]
	[<li class="db_list">
		<div class="db_label">Auslosung</div><div class="db_value">{date:auslosung}</div>
	</li>]
        [<li class="db_list">
                <div class="db_label">Anmerkungen</div><div class="db_value">{description}</div>
        </li>]
<div style="clear:both"></div>
</ul>