<div class="database">

	[startList]

	<hr>

	<ul class="database_record">

		<li class="db_list">
			<img class="db_thumb" src="userfiles/images/Personen/{foto}" alt = "">
		</li>

		<li class="db_list">
			<div class="db_function">{function}[ Region {notnull:leiterregion}]</div>
		</li>

		<li class="db_list">
			<div class="db_data">
				[<span field="title">{titel}</span> <span field="vorname">{vorname}</span> <span field="name">{name}</span><br>]
				[<span field="tel">{tel}</span><br>]
				[<span field="mobil">{mobil}</span><br>]
				[<a href="mailto:{email}"><span field="email">{email}</span></a>]
			</div>
		</li>

	</ul>
	[endList]

</div>